<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Привет мир!</title>
  </head>
  <body style="background-color:#D9D7D7">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	
	  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
		<img src="../static/adds/logo.png" 
  width="100" height="40" alt="lorem">
	  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/groups"><button class="nav-button">Сообщества</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/quizzes">
			  <button class="nav-button">Викторины</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">
			  <button class="nav-button">Новости</button></a>
        </li>
      </ul>


        {% if current_user.is_authenticated %}
        <span class="navbar-text">
        <a class="nav-link" href="/profile">
			  <button class="nav-button">profile</button></a>
      </span>
        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
    {% else %}

      <span class="navbar-text">
        <a class="nav-link" href="/login">
			  <button class="nav-button">Login</button></a>
      </span>
		<span class="navbar-text">
        <a class="nav-link" href="/register">
			  <button class="nav-button">Register</button></a>
      </span>
           {% endif %}


    </div>
  </div>
</nav>
	
	  
	  <main>{% block content %}{% endblock %} <br><br><br><br><br><br><br></main>

	  

	<footer class="text-center text-white fixed-bottom margfoot" style="background-color: #21081a; margin-top: 50px;" >
  <!-- Grid container -->
		<img src="../static/adds/ik.png"
  width="120" height="60" alt="lorem">
  <div class="container p-4"></div>
  <!-- Grid container -->
	  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">Bootstrap</a>
  </div>
  <!-- Copyright -->
</footer>
  </body>
</html>