{% extends "base.html" %}

{% block content %}
<div align="center"  style="margin-top: 20px;"><a href="#"><button class="fastgame">Play Fast</button></a></div>

<hr class="hr-shelf">

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <a href="news/{{ n1.id }}"><img src="../{{ n1.img_news }}" class="d-block w-100 imgkarusel" alt="..."></a>
      <div class="carousel-caption d-none d-md-block">
        <a href="news/{{ n1.id }}"><h5>{{ n1.title }}</h5></a>
        <p></p>
      </div>
		<h3 align="center" style="margin-top: 140px"></h3>
    </div>
	  
    <div class="carousel-item" data-bs-interval="2000">
      <a href="news/{{ n2.id }}"><img src="../{{ n2.img_news }}" class="d-block w-100 imgkarusel" alt="..."></a>
      <div class="carousel-caption d-none d-md-block">
        <a href="news/{{ n2.id }}"><h5>{{ n2.title }}</h5></a>
        <p></p>
      </div>
		<h3 align="center" style="margin-top: 140px"></h3>
    </div>
    <div class="carousel-item">
      <a href="news/{{ n3.id }}"><img src="../{{ n3.img_news }}" class="d-block w-100 imgkarusel" alt="..."></a>
      <div class="carousel-caption d-none d-md-block">
          <a href="news/{{ n3.id }}"><h5>{{ n3.title }}</h5></a>
      </div>
		<h3 align="center" style="margin-top: 140px"></h3>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>

<hr class="hr-shelf hrots">
<br>
<h1>Популярные викторины:</h1>
<br>
<table>
    <tr>
        <td>
            <img src="../static/img/carusel.jpg" width=200px; height=150px;>
        </td>
        <td>
            <a href="#"><h2>Название викторины</h2></a>
            <div display="block-inline">
                
				<h4>тема викторины</h4>
            </div>
        </td>
    </tr>
</table>



<br><br><br><br><br><br><br>


{% endblock %}