{% extends "base.html" %}

{% block content %}
<h1>Создание квеста</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.head.label }}<br>
        {{ form.head(class="form-control") }}<br>
        {% for error in form.head.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.tema.label }}<br>
        {{ form.tema(class="form-control") }}<br>
        {% for error in form.tema.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    </p>
    <p>
        {{ form.photo.label }}
        {{ form.hidden_tag() }}
        {{ form.photo }}
        {% for error in form.photo.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
<a href="news/addquestion" style="text-decoration: none">
    <p>{{form.addquestion(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</a>
<h1>Вопросы</h1>
{% for item in quetions %}
<div>{{item}}</div>
{% endfor %}

{% endblock %}