{% extends "base.html" %}

{% block content %}

{% for item in news %}
	<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="wp-block property list">
        <div class="wp-block-body">
          <div class="wp-block-img">
            <a href="news/{{ item.id }}">
              <img src="{{ item.img_news }}" alt="">
            </a>
          </div>
          <div class="wp-block-content">
            <small>
<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>{{ item.created_date }}</small>
			  <a href="news/{{ item.id }}" style="text-decoration: none">
            <h4 class="content-title">{{ item.title }}</h4>
			</a>
            <span class="pull-left">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            </span>
            <span class="pull-right">
              <span class="capacity">
                <i class="fa fa-user"></i> Ник
              </span>
            </span>
          </div>
        </div>
        <div class="wp-block-footer">
          <ul class="aux-info">
            <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ item.tema }}</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}