{% extends "base.html" %}

{% block content %}

{% for item in quiz %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="wp-block property list">
                <div class="wp-block-body">
                    <div class="wp-block-img">
                        <a href="quizz/{{ item[0] }}">
                            <img src="{{ item[2] }}" alt="">
                        </a>
                    </div>
                    <div class="wp-block-content">
                        <small>
                        <a href="quizz/{{ item[0] }}" style="text-decoration: none">
                            <h4 class="content-title">{{ item[1] }}</h4>
                        </a>
                        <span class="pull-left">
              <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            </span>
                        <span class="pull-right">
              <span class="capacity">
                <i class="fa fa-user"></i> {{ item[3] }}
              </span>
            </span>
                    </div>
                </div>
                <div class="wp-block-footer">
                    <ul class="aux-info">
                        <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{ item[5] }}</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}